{% extends 'base.html' %}
{% block conteudo %}
    <form action="{{url_for('ong_register')}}" method="POST" enctype="multipart/form-data">
        <div>
            <label for="name">Nome:</label>
            <input type="text" name="name" required/>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" required/>
        </div>
        <div>
            <label for="password">Senha:</label>
            <input type="password" name="password" required/>
        </div>
        <div>
            <label for="phone">Telefone:</label>
            <input type="tel" name="phone" maxlength="15" required/>
        </div>
        <div>
            <label for="cep">CEP:</label>
            <input type="text" name="cep" id="cep" maxlength="8" required/>
        </div>
        <div>
            <label for="city">Cidade:</label>
            <input type="text" id="city" name="city" required/>
        </div>
        <div>
            <label for="hood">Bairro:</label>
            <input type="text" id="hood" name="hood" required/>
        </div>
        <div>
            <label for="addr">Endereço:</label>
            <input type="text" id="addr" name="addr" required/>
        </div>
        <div>
            <label for="num">Número:</label>
            <input type="text" name="num" maxlength="12" required/>
        </div>
        <div>
            <label for="desc">Descrição (opcional)</label>
            <input type="text" name="desc"/>
        </div>
        <div>
            <label for="cpf">CPF do responsável:</label>
            <input type="text" name="cpf" maxlength="11" required/>
        </div>
        <div>
            <label for="photo">Foto de perfil:</label>
            <input type="file" name="photo" required>
        </div>
        <button class="btn btn-success">Registrar</button>
    </form>
    <div>
        <p>Já registrou sua ONG? <a href="{{ url_for('ong_login')}}"> entre aqui.</a></p> 
    </div>
    <script>
        document.getElementById('cep').addEventListener('blur', function () {
            const cep = this.value.replace(/\D/g, '');

            if (cep.length === 8) {
                fetch(`/get_address/${cep}`)
                    .then(res => res.json())
                    .then(data => {
                        if (!data.erro) {
                            document.getElementById('addr').value = data.logradouro || '';
                            document.getElementById('hood').value = data.bairro || '';
                            document.getElementById('city').value = data.localidade || '';
                        } else {
                            alert('CEP não encontrado.');
                        }
                    })
                    .catch(() => alert('Erro ao buscar o endereço.'));
            }
        });

    </script>
{% endblock conteudo %}