{% extends 'base.html' %}
{% block conteudo %}
<h1>Relatório de Denúncia</h1>
<form action="{{ url_for('report') }}" method="post" class="form-control">
    <div>
        <label for="title">Título:</label>
        <input type="text" class="form-control" name="title" required />
    </div>
    <div>
        <label for="desc">Descrição:</label>
        <textarea class="form-control" name="desc" required></textarea>
    </div>
    
    <div>
        <label for="date">Data do Avistamento:</label>
        <input type="date" class="form-control" name="date"  min="{{ min_data }}" max="{{ max_data }}" required />
    </div>

    <div>
        <label for="city">Cidade: </label>
            <select name="city" id="cidade" required>
                {% for city in cities %}
                    <option value="{{ city }}">{{ city }}</option>
                {% endfor %}
            </select>
    </div>

    <div>
        <label for="addr">Endereço (opcional):</label>
        <input type="text" name="addr">
    </div>

    {% if not session.get('logged') %}
        <div>
            <label for="location">Celular:</label>
            <input type="tel" class="form-control" name="phone" required />
        </div>
        
        <div>
            <label for="email">Email (opcional):</label>
            <input type="email" class="form-control" name="email" />
        </div>
    {% endif %}

    <!-- <div>
        <label for="location">Anexar Imagem (opcional):</label>
        <input type="file" class="form-control" name="image" accept="image/*" />
    </div> -->

    {% if session.get('logged') == 1 %}
        <input type="hidden" name="email" value="{{ session.get('user_email') }}">
        <input type="hidden" name="phone" value="{{ session.get('user[5]') }}">
    {% endif %}

    <button class="btn btn-success">Enviar Denúncia</button>
</form>
{% endblock conteudo %}