{% extends 'base.html' %}
{% block conteudo %}
<form action="{{ url_for('rescue')}}" method="post">
    {% if session.get('logged') %} 
        <input type="hidden" name="userId" value="{{ session.get('user_id') }}">
        <input type="hidden" name="author" value="{{ session.get('user_name') }}">
        <input type="hidden" name="phone" value="{{ session.get('user_phone') }}">
        <input type="hidden" name="cep" value="{{ session.get('user_cep') }}">
        <input type="hidden" name="city" value="{{ session.get('user_city') }}">
        <input type="hidden" name="address" value="{{ session.get('user_addr') }}">
        <input type="hidden" name="num" value="{{ session.get('user_num') }}">
    {% endif %}
    {% if not session.get('logged') %}
        <div>
            <label for="cep">CEP:</label>
            <input type="text" name="cep" id="cep" required>
        </div>
        <div>
            <label for="addr">Endereço:</label>
            <input type="text" name="addr" id="addr" required>
        </div>
        <div>
            <label for="num">Número:</label>
            <input type="text" name="num" required>
        </div>
        <div>
            <label for="name">Autor:</label>
            <input type="text" name="name" required>
        </div>
        <div>
            <label for="phone">Telefone para contato:</label>
            <input type="tel" name="phone" required>
        </div>
        <div>
            <label for="desc">Descrição</label>
            <input type="text" name="desc" required>
        </div>
        <div>
            <label for="photo">Foto do animal:</label>
            <input type="file" name="photo" accept="image/*" required>
        </div>
    {% endif %}
    <div>
        <label for="desc">Descrição:</label>
        <input type="text" name="desc" required>
    </div>
    <div>
        <label for="photo">Foto do animal (opcional):</label>
        <input type="file" name="photo" accept="image/*">
    </div>
    <div>
        <button type="submit">Enviar</button>
    </div>
</form>
<script>
    document.getElementById('cep').addEventListener('blur', function () {
        const cep = this.value.replace(/\D/g, '');

        if (cep.length === 8) {
            fetch(`/get_address/${cep}`)
                .then(res => res.json())
                .then(data => {
                    if (!data.erro) {
                        document.getElementById('addr').value = data.logradouro || '';
                        document.getElementById('city').value = data.localidade || '';
                    } else {
                        alert('CEP não encontrado.');
                    }
                })
                .catch(() => alert('Erro ao buscar o endereço.'));
        }
    });

</script>
{% endblock conteudo %}