{% extends 'base.html' %}
{% block conteudo %}
<h1>Perfil do Usuário</h1>
<div>
    <form action="{{ url_for('user')}}" method="POST" enctype="multipart/form-data">
        <div>
            <label for="name"><strong>Nome:</strong></label> 
            <input type="text" value="{{ user.user_name }}" name="name" >  
        </div>

        <div>
            <label for="email"><strong>Email:</strong></label>
            <input type="text" value="{{ user.user_email }}" name="email" >
        </div>
        <div>
            <label for="city"><strong>Cidade:</strong></label>
            <select name="city">
                {% for city in cidades %}
                    <option value="{{ city }}" {% if city == user.user_city %}selected{% endif %}>
                        {{ city }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="cep">CEP:</label>
            <input type="text" name="cep" id="cep" value="{{ user.user_cep }}" required/>
        </div>
        <div>
            <label for="addr">Endereço:</label>
            <input type="text" id="addr" name="addr" value="{{ user.user_address }}"/>
        </div>
        <div>
            <label for="num">Número:</label>
            <input type="text" name="num" maxlength="12" value="{{ user.user_num }}"/>
        </div>
        <div>
        <div>
            <label for="phone"><strong>Celular:</strong></label> 
            <input type="text" value="{{ user.user_phone }}" name="phone" >
        </div>
        <div>
                <label for="profile_pic"><strong>Foto de Perfil:</strong></label>
                <input type="file" name="photo" onchange="previewImage(event)">
                {% if user.user_profile_photo %}
                    <div>
                        <img src="{{ url_for('static', filename='uploads/' + user.user_profile_photo) }}" width="100px" alt="Foto de Perfil" id="photo">               
                    </div>
                {% endif %}
        </div>
        <button value="Editar">Editar</button>                                                                                                                                                                                                                                                                                                                      <!-- espinafre was here -->
    </form>
</div>

{% endblock conteudo %} 